{% extends 'backtravail.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

<div class="row">
<div class="span9">


<section class="section dashboard">
      <div class="row">
    <h1>Edit Calendar</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('calendar') }}">back to list</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
