
{% extends 'backtravail.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">







       
<!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Tous les évenements</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>All_day</th>
                <th>Background_color</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>actions</th>
                        
                      </tr>
                    </thead>
					

                    <tbody>
			{% for calendar in calendars %}


  
                      <tr>

 <th scope="row"><a href="#">{{ calendar.id }}</a></th>
                <td>{{ calendar.title }}</td>
                <td><a href="#" class="text-primary">{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</a></td>
                <td><a href="#" class="text-primary">{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</a></td>
                <td>{{ calendar.description }}</td>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ calendar.backgroundColor }}</td>
                <td>{{ calendar.borderColor }}</td>
                <td>{{ calendar.textColor }}</td>
                   <td><span class="badge bg-success">
                    <a href="{{ path('calendar_show', {'id': calendar.id}) }}">show</a>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>
               </span></td>
 {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}

                                       </tbody>
                  </table>
			


                </div>
				

              </div>
            </div>
			</div>
			<button class="btn btn-success"><div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									    <a href="{{ path('calendar_new') }}">Ajouter un événement</a>
								</div></button>
                                <button class="btn btn-success"><div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									    <a href="{{ path('main') }}">Voir les évenements</a>
								</div></button>
			</div>
			</section><!-- End Recent Sales -->
            {% endblock %}