{% extends 'backtravail.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

<div class="row">
<div class="span9">
 <div class="col-12">
              <div class="card recent-sales overflow-auto">

<div class="card-body">
<h3>Créer un évenement<h3>
<div class="container-fluid px-1 py-5 mx-auto">

         
        
         {{ include('calendar/_form.html.twig') }}
     <span class="badge bg-success">
            <a href="{{ path('calendar') }}">Retour à la liste des évenements</a></span>
           
                       
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
