           

{% block body %}
{% set totalHT=0 %}
<h1 align="center">Liste des commandes</h1><hr>
<table class="table table-condensed" align="center" border="1px solid">
<thead>
<tr>
<th>Produit</th>
<th>Prix</th>
<th>Quantite</th>
<th>Prix Total</th>
</tr>
</thead>
<tbody>
{% for produit in produits %}
<tr>
<td>{{produit.nomPdt}}</td>
<td>{{produit.prix}}</td>
<td>{{ panier[produit.idPdt] }}</td>
<td>{{produit.prix * panier[produit.idPdt]}}</td>
 {% set totalHT =totalHT +(produit.prix *panier[produit.idPdt]) %}
{% endfor %}
<tr>
<tr>
<tr>

 <div class="size-209">
								<span class="mtext-110 cl2">
									Total Commande : {{totalHT}} TND
								</span>
							</div>
						</div>



</tbody>
</table>
{% endblock %}


