{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

<div class="row">
<div class="span9">
<h2>livraison</h2>
<div class="span4">
{# {% id utilisateur.adresses|length !=0 %} #}
<form action="{{path('validation')}}" method="POST">
<h4>Adresse de la livraison</h4>

{#<input type="radio" name="livraison"  value="{{adresse.id}}">#}

<div class="span4 offset2>
<h4>Ajouter une nouvelle adresse</h4>
<form action="{{ path('livraison')}}" method="POST">{{form_widget(form)}}
<button class="btn btn-primary">Ajouter</button>
</form>
</div>
</div>
</div>

</div>
</div>
{% endblock %}

