
{% extends 'front-panier.html.twig' %}

{% set totalHT=0 %}
{% block body %}





<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
	

		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Votre Panier
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			

{% if produits |length ==0 %}
<tr><td colspan="4"><center>Aucun Articles dans votre panier</center></td>
</tr>
{% endif %}

{% for produit in produits %}
<form action="{{path('ajouter', { 'id' : produit.idPdt }) }}" method="get">

			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="block2">
						<div class="header-cart-item-img">
							<img src="{{ asset('/uploads/' ~ produit.icone) }}" alt="IMG-PRODUCT"></div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{produit.nomPdt}}</a>
								<span class="header-cart-item-info">
									{{produit.prix * panier[produit.idPdt]}} Tnd
							</span>
							
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								<select name="qte" class="span1" onChange="this.form.submit()">
{% for i in 1..10 %}
<option value ="{{ i }}" {% if i == panier[produit.idPdt] %} selected="selected" {% endif %}>{{i}}</option>


{% endfor %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
</select>
							</a>

							
                          <div class="header-cart-item-txt p-t-8">
							 <a class="btn btn-danger" href="{{ path('supprimer_panier',{'id': produit.idPdt })}}"></a>
						</div>
                            
						</div>
					</li>
                    </div>
                    </form>
                    {% set totalHT =totalHT +(produit.prix *panier[produit.idPdt]) %}



{% endfor %}

<div class="w-full">{% if produits |length  !=0 %} 
					<div class="header-cart-total w-full p-tb-40">
						

Total HT : {{totalHT}} TND 
{% endif %}
					</div>

					<div class="header-cart-buttons flex-w w-full">

					<a href="{{ path('validation')}}" class="flex-c-m stext-101 cl0 size-101 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							Commander
						</a>
						<a href="{{ path('app_produit')}}" class="flex-c-m stext-101 cl0 size-101 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Retour
						</a>

						
					</div>
				</div>
			</div>
		</div>
	</div>





		{% endblock %}
	
		
















