{% extends 'front.html.twig' %}

{% set totalHT=0 %}



{% block body %}
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

<div class="row">
<div class="span9">

<h2>Votre Commande</h2>

<table class="table table-striped table-hover">

<thead>
<tr>
<th>References</th>
<th>Quantite</th>
<th>Prix Unitaire</th>
<th>Total HT</th>
</tr>
</thead>
<tbody>

{% for produit in produits %}

<form action="{{path('ajouter', { 'id' : produit.idPdt }) }}" method="get">
<tr>

<td>{{produit.nomPdt}}</td>
<td>
{{ panier[produit.idPdt] }}
</td>
<td>{{produit.prix}} </td>
<td>{{produit.prix * panier[produit.idPdt]}}</td>

</form>

{% set totalHT =totalHT +(produit.prix *panier[produit.idPdt]) %}
</tr>
{% endfor %}

</tbody>
</table>
<dl class="dl-horizontal pull-right">
<dt>Total HT : </dt><dd>{{totalHT}} TND </dd>

{#<form action="{{ path ('validationCommande',{ 'id' : commande.id}) }}" method="POST" />
<input name="token" type="hidden" value="{commande.token}}"/>
<input name="token" type="hidden" value="{commande.prixHT}}"/>
<input name="token" type="hidden" value="{commande.date|date('dmyhms')}}"/>
<button type="submit" class="btn btn-success" href="#">Payer</button>
</form>#}
{#<div><a class="btn btn-success" href="{{ path('panier')}}">Retour au panier</a></div>#}


</div>
</div>
</div>
</div>
</div>








{# <dl class="dl-horizontal pull-right">
<td>{{commande.prixHT}}
td>adresse de livraison</td>
<td>{{commande.livraison.prenom}}{{commande.livraison.nom}}</td>
<td>{{commande.livraison.adresse}}</td>
<td>{{commande.livraison.cp}}{{commande.livraison.ville}}{{commande.livraison.pays}}</td>
<td>adresse de facturation</td>
<td>{{commande.facturation.prenom}}{{commande.facturation.nom}}</td>
<td>{{commande.facturation.adresse}}</td>
<td>{{commande.facturation.cp}}{{commande.facturation.ville}}{{commande.facturation.pays}}</td>
<div class="clearfix"></div>
<a href="#" class="btn btn-success pull-right">Payer</a>
<a href="{{ path('livraison')}}" class="btn btn-primary">retour</a>#} 



{% set totalHT=0 %}
<!-- Shoping Cart -->

	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
								{% for message in app.flashes('success') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
									<th class="column-1">Produit</th>
									<th class="column-2"></th>
									<th class="column-3">Prix</th>
									<th class="column-4">Quantité</th>
									<th class="column-5">Total</th>
								</tr>
                               {% for produit in produits %}
                                  
                                <form action="{{path('ajouter', { 'id' : produit.idPdt }) }}" method="get">
								<tr class="table_row">
									<td class="column-1">
										<div class="block2-pic hov-img0">
							<img src="{{ asset('/uploads/' ~ produit.icone) }}" alt="IMG-PRODUCT"></div>
									</td>
                                    
                                 
									<td class="column-2">{{produit.nomPdt}}</td>
									<td class="column-3">{{produit.prix}}</td>
									<td class="column-4">
										{{ panier[produit.idPdt] }}
									</td>
									<td class="column-5">{{produit.prix * panier[produit.idPdt]}}</td>
								</tr>

								</form>
                                {% set totalHT =totalHT +(produit.prix *panier[produit.idPdt]) %}
                             
                              {% endfor %}
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								{#<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">#}
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									 <a href="{{ path('commande_list')}}">Imprimer votre commande</a>
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
							<a href="{{ path('panier')}}">Retour au panier</a>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
						Total Commande : 
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Montant :
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									{{totalHT}} TND
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Livraison:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2">
									Il y a pas une methode de livraison disponible pour le moment.
								</p>
								
								<div class="p-t-15">
									<span class="stext-112 cl8">
										Calcul de la livraison
									</span>

									<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
										<select class="js-select2" name="time">
											<option>Select a country...</option>
											<option>USA</option>
											<option>UK</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>

									<div class="bor8 bg0 m-b-12">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="State /  country">
									</div>

									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Postcode / Zip">
									</div>
									
									<div class="flex-w">
										<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
											Update Totals
										</div>
									</div>
										
								</div>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{{totalHT +7}} TND
								</span>
							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							<a href="{{path('index')}}">Passer au paiement</a>
						</button>
                       
					</div>
				</div>
			</div>
		</div>
	</form>
		
	
		
{% endblock %}
