
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        	<link rel="stylesheet" type="text/css" href="cozastore-master/vendor/bootstrap/css/bootstrap.min.css">
     
</head>
<body class="indigo darken-2" >
    {% include "Partials/header.html.twig" %}
    {% block body %}{% endblock%}
    {% include "Partials/footer.html.twig" %}
    
    <script src="https://js.stripe.com/v3/"></script>
    <script src="cozastore-master/vendor/jquery/jquery-3.2.1.min.js"></script>
   
    {% block javascripts %}{% endblock%}
</body>
</html>
