{% extends 'backtravail.html.twig' %}

{% block body %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">
    <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ajouter un nouveau livraison</h5>

                    <!-- General Form Elements -->
                  <!--  {{ form_start(form,{attr:{novalidate:'novalidate'}}) }} -->
                        {{ form_start(form) }}

                        <div class="row">
                            <label for="inputText" class="col-sm-4 col-form-label">Nom :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                            </div>
                            {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="row">
                            <label for="inputText" class="col-sm-4 col-form-label">Prix :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}
                            </div>
                            {{ form_errors(form.prix,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="row">
                            <label for="inputText" class="col-sm-4 col-form-label">Prix :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.typelivraison,{'attr':{'class':'form-control'}}) }}
                            </div>
                            {{ form_errors(form.typelivraison,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="row">
                            <label for="inputText" class="col-sm-4 col-form-label">Sélectionner une ou plusieurs commande :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.commandes,{'attr':{'class':'form-control'}}) }}
                            </div>
                            {{ form_errors(form.commandes,{'attr':{'class':'text-danger'}}) }}
                        </div>

                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        <div class="row">
                            {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
