
{% extends 'backtravail.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
               <h1 class="tg-filterbale-nav option-set">Statistique Livraison </h1>

                <div id="div_chart"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>
        </div>
    </div>

{% endblock %}