
{% extends "Partials/layout.html.twig" %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style><div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
<div class="span4">
 <table class="table table-striped" border="1">
 
<center><h1 class="center white-text">Finaliser votre payement</h1></center>


<form method="POST" id="payement-form">
<div class="form-row>
<div class="col s12 m4 l4 offset-m4 offset-l4>

<tr>
<div id="card-element">
</div>
<div id="card-errors" role="alert"></div>
</div>
<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"> Payer</button>
</form>
</div>
<hr><hr><hr><hr><hr><hr>
<center><h4 class="center white-text">Pour accéder à notre site web via votre téléphone cliquer ici </h4></center>
<a href="{{ path('homepage')}}" class="flex-c-m stext-101 cl0 size-101 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
						QR CODE
						</a>

<tr>

 


{% endblock %}
{% block javascripts %}
<script>
var stripe=Stripe(STRIPE_SK);
var elements=stripe.elements();

var style={
    base:{
        fontSize:'16px',
        lineHeight:'24px'
    }
};
var card=elements.create('card',{style:style});
card.mount('#card-element');
card.addEventListener('change',function(event){
    var displayError = document.getElementById('card-errors');
    if(event.error){
        displayError.textContent = event.error.message;
    }
    else 
    display.Error.textContent ='';

    }
});
var form=document.getEleemntById('payement-form');
form.addEventListener('submit',function(event){
    event.preventDefault();
    stripe.createToken(card).then(function(result){
        if (result.error){
            var errorElement= document.getEleemntById('card-errors');
            errorElement.textContent=result.error.message;
        }
        else{
            stripeTokenHandler(result.token);
            
        }
    });
    });

    function stripeTokenHandler(toke){
        var form=document.getEleemntById('payement-form');
        var hiddenInput=document.createElement('input');
        hiddenInput.setAttribute('type','hidden');
        hiddenInput.setAttribute('name','stripeToken');
        hiddenInput.setAttribute('value',token.id);
        form.appendChild(hiddenInput);
        form.submit();
        
    }
</script>
{% endblock %}