{% extends 'front.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
<div class="span4">
 <table class="table table-striped" border="1">
    <thead>
    
<th>{{produit.nom}}</th>
<th>{{produit.description}} Tnd</th>
<th>{{produit.prix}} Tnd</th>
 </thead>
    <tbody>
{% if panier[produit.id] is not defined %}
    
     
<form action="{{path('ajouter',{'id':produit.id}) }}" method="get">
<select name="qte" class="span1">
{% for i in 1..10 %}
<option value="{{i}}">{{i}}</option>
{% endfor %}
</select>
<div>
<button class="btn btn-primary">Ajouter au panier</button>
</div>
</form>
{% else %}
<div>
 <a class="btn btn-success" href="{{ path('ajouter')}}">Le produit est deja dans votre panier</a></td>
</div>
{% endif %}
</tbody>
   </table>
   
{% endblock %}



