


{% extends 'front2.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



  

}
 <!-- Partie filtrage----------->
<div class="container">
<div class="pull-right">

    {% include 'produits/_filter.html.twig' with {form: form }only %}
    
</div>
</div>

<div class="container">
<div class="span3">{{ render(controller('App\\Controller\\PanierController::menuAction')) }}</div>
<div class="row isotope-grid">

{% for prod in pr %}

<div class="flex-w flex-sb-m p-b-52">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
                    
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{ asset('/uploads/' ~ prod.icone) }}" alt="IMG-PRODUCT">

							<a href="{{path('detail_produit',{'id':prod.idPdt})}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
								Quick View
							</a>
						</div>

							
								 {% if panier[prod.idPdt] is not defined %}
								 
    
	<a href="{{ path('ajouter',{'id' : prod.idPdt})}}" class="block1-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
								Ajouter Panier
							</a>
     {% endif %}
							
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="cozastore-master/product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{prod.nomPdt}}
								</a>

								<span class="stext-105 cl3">
									${{prod.prix| number_format(0,',', ' ')}}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="cozastore-master/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="cozastore-master/images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
					 {% endfor %}
				</div>
                </div></div>
				
 {% for prod in p %}
  <div>{{knp_pagination_render(p)}} </div> 
{% endfor %}

   </tbody>
   </table>
   
   </div>
{% endblock %}
