{% extends 'backtravail.html.twig' %}

{% block title %}Hello ARTISANET!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_livreur_new') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h1 class="card-title">Liste des livreurs</h1>

            <a class="btn btn-success" href="{{ path('app_livreur_new') }}">Ajouter</a>


    <table class="table table-striped">
   
        
        <thead>
            <th> Nom </th>
            <th> Téléphone </th>

        </thead>
        <tbody>
        {% for livreur in livreurs %}
        <tr>
            <td> {{livreur.nom}}  </td>
            <td> {{livreur.tel}}  </td>
            <td>
            <a class="btn btn-danger" href="{{ path('app_livreur_delete',{'id':livreur.id}) }}">Supprimer</a>
            </td>

        </tr>  
        {% endfor %}
    </tbody>     
    </table>   

    </div>
</div>
    </div>
</div>
{% endblock %}
