
{% extends 'backtravail.html.twig' %}
{% block body %}
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_livraison_new') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h1 align-items: center class="card-title">Modifier livraison</h1>


                {{ form_start(form) }}

                <div class="row">
                    <label for="inputText" class="col-sm-4 col-form-label">Nom :</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
                </div>

                <div class="row">
                    <label for="inputText" class="col-sm-4 col-form-label">Prix :</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.tel,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(form.tel,{'attr':{'class':'text-danger'}}) }}
                </div>

                <div class="row">
                    {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                </div>

                {{ form_end(form)}}
</div></div></div>
{% endblock %}