{% extends 'front.html.twig' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
<div class="span4">

 <table class="table table-striped" border="1">
 <div class="example-wrapper">

    <center><h1>Ecrire notre siteweb et scanner le qrCode par votre téléphone ✅</h1> <hr></center>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Recherche'}}) }}
                <hr>
                <button type="submit" class="btn btn-success btn-block">Recherche</button>
            {{ form_end(form) }}
        </div>
        
        <div class="col-md-6">
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qr-code">
                 {% for message in app.flashes('success') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
            {% endif %}

        </div>
       
    </div>

</div>

{% endblock %}
