{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">
    <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <a href="{{ path('app_produit') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

                    <h5 class="card-title">Ajouter un nouveau produit</h5>

                    <!-- General Form Elements -->
                        {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}


                        <label for="inputText" class="col-sm-4 col-form-label">Nom produit</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.nomPdt,{'attr':{'class':'form-control'}}) }}

                        </div>
                    {{ form_errors(f.nomPdt,{'attr':{'class':'text-danger'}}) }}



                    <label for="inputText" class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.description,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.description,{'attr':{'class':'text-danger'}}) }}


                    <label for="inputText" class="col-sm-4 col-form-label">Prix</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.prix,{'attr':{'class':'form-control'}}) }}
                        </div>
                    {{ form_errors(f.prix,{'attr':{'class':'text-danger'}}) }}

            <label for="inputText" class="col-sm-4 col-form-label">Stock</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.stock,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.stock,{'attr':{'class':'text-danger'}}) }}

                 <label for="inputText" class="col-sm-4 col-form-label">Image</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.icone,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.icone,{'attr':{'class':'text-danger'}}) }}

            <label for="list" class="col-sm-4 col-form-label">Categorie</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.idCat,{'attr':{'class':'form-control'}}) }}
                           <a href="{{ path('add_categorie') }}" >
                           <img src="{{asset('back-office/assets/img/addition.jpg')}}" alt="" width="20" height="20">

                    </div>
                   

                
                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
