{% extends 'base.html.twig' %}

{% block title %}Hello ARTISANET!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_produit') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h1 class="card-title">Liste des produits</h1>

        <a class="btn btn-success" href="{{ path('add_produit') }}">Ajouter</a>
    
    <table class="table table-striped">
   
        <thead>
           
            <th> Icone </th>
            <th> Nom produit </th>
            <th> prix </th>
            <th> Description </th>
            <th> Stock </th>
            
            <th> Modifier </th>
            <th> Supprimer </th>

        </thead>
        <tbody>             

        {% for prod in p %} 

        <tr>
            
            <td> <img src="{{ asset('/uploads/' ~ prod.icone) }}"
             alt="" width="50" height="60"></td>
            <td> {{prod.nomPdt}} </td>
            <td> {{prod.prix}} </td>
            <td> {{prod.description}} </td>
            <td> {{prod.stock}} </td>
           
            
            <td>
            <a class="btn btn-success" href="{{path('update_produit',{'id':prod.idPdt})}}">Modifier</a>
            </td>
            <td>
            <a class="btn btn-danger" href="{{ path('delete_produit',{'id':prod.idPdt}) }}">Supprimer</a>
            </td>

        </tr>  
        {% endfor %}
        
    </tbody>     
    </table>   

    </div>
</div>
    </div>
</div>
{{form (f)}}
{% endblock %}
