{%extends 'front.html.twig'%}
{% block title %}contact{% endblock %}
{% block body %}
	
{% for message in app.flashes('success') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}

<h1> Nous contacter</h1>
{{form(contactForm)}}
{% endblock %}