{% extends 'backtravail.html.twig' %}

{% block body %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">
    <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ajouter un nouveau categorie</h5>

                    <!-- General Form Elements -->
                  <!--  {{ form_start(f,{attr:{novalidate:'novalidate'}}) }} -->
                        {{ form_start(f) }}


                        <label for="inputText" class="col-sm-4 col-form-label">Nom categorie</label>
                        <div class="col-sm-10">
                            {{ form_widget(f.nomCat,{'attr':{'class':'form-control'}}) }}
                        </div>
                    {{ form_errors(f.nomCat,{'attr':{'class':'text-danger'}}) }}



                   
                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
