

{% block body %}
{% set totalHT=0 %}
<h1 align="center">Liste des commandes</h1><hr>
<table class="table table-condensed" align="center">
<thead>
<tr>
<th>Produit</th>
<th>Prix</th>
<th>Quantite</th>
<th>Prix Total</th>
</tr>
</thead>
<tbody>


<td>{{Valider}}</td>
<td>{{ Date }}</td>
<td>{{Reference}}</td>
 
<tr>
<tr>
<tr>

 <div class="size-209">
								<span class="mtext-110 cl2">
									
								</span>
							</div>
						</div>



</tbody>
</table>
{% endblock %}


