{% extends 'backtravail.html.twig' %}


{% set totalHT=0 %}
{% block body %}
#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

<div class="row">
<div class="span9">

<section class="section dashboard">
      <div class="row">

        <!-- Right side columns -->
        <div class="d-flex">
       
<!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
              {% for message in app.flashes('success') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Les commandes <span>| Aujourd'hui</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">References</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Prix </th>
                        <th scope="col">Supprimer</th>

                        
                      </tr>
                    </thead>
					

                    <tbody>
					{% for produit in produits %}

<form action="{{path('ajouter', { 'id' : produit.idPdt }) }}" method="get">

                      <tr>
                        <th scope="row"><a href="#">{{produit.nomPdt}}</a></th>
                        <td>{{ panier[produit.idPdt] }}</td>
                        <td><a href="#" class="text-primary">{{produit.prix}}</a></td>
                        
                        <td><span class="badge bg-success">{{produit.prix * panier[produit.idPdt]}}</span></td>
                        <td>
							 <a href="{{ path('supprimer_panier',{'id': produit.idPdt })}}"><span class='bi bi-trash'></span></i></a></td>
						
                      </tr>
                     </form>

{% set totalHT =totalHT +(produit.prix *panier[produit.idPdt]) %}
</tr>
{% endfor %}
                    </tbody>
                  </table>
				  <dl class="dl-horizontal pull-right">
<dt>Total HT : </dt><dd>{{totalHT}} TND </dd>


                </div>
				

              </div>
            </div>
			</div>
			<button class="btn btn-success"><div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									 <a href="{{ path('commande_list')}}">Imprimer votre commande</a>
								</div></button>
                
			</div>
			</section><!-- End Recent Sales -->
{% endblock %}