
{% block title %}Edit User
{% endblock %}

{% block content %}

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_user_index') }}" class="btn btn-sm btn-primary">back to list</a>


	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
