

{% block title %}New User
{% endblock %}

{% block content %}
	<h1>Create new User</h1>

	{{ include('user/_form.html.twig') }}

	<a href="{{ path('app_user_index') }}" class="btn btn-sm btn-primary">back to list</a>

{% endblock %}
