{% extends 'front.html.twig' %}

{% block title %}User
{% endblock %}

{% block content %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>First Name</th>
				<td>{{ user.firstName }}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{ user.lastName }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Number</th>
				<td>{{ user.number }}</td>
			</tr>
			<tr>
				<th>Role</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>

			</tr>
			<tr>
				<th>Birthday</th>
				<td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_user_index') }}" class="btn btn-sm btn-primary">back to list</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-warning">edit</a>


	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
